apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/openshift/assisted-service/refs/tags/v2.40.0/hack/crds/hive/hive.openshift.io_clusterdeployments.yaml
  - https://raw.githubusercontent.com/openshift/assisted-service/refs/tags/v2.40.0/hack/crds/hive/hive.openshift.io_clusterimagesets.yaml
  - https://raw.githubusercontent.com/openshift/assisted-service/refs/tags/v2.40.0/hack/crds/mce/managedclusters.cluster.open-cluster-management.io.yaml
  - https://github.com/openshift/assisted-service/config/default?ref=v2.40.0

images:
  - name: quay.io/edge-infrastructure/assisted-service
    newName: {{ infrastructure_operator_image }}
    digest: "{{ infrastructure_operator_version }}"

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: infrastructure-operator
      namespace: assisted-installer
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: {{ assisted_service_image ~ '@' ~ assisted_service_version }}
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: {{ assisted_service_el8_image ~ '@' ~ assisted_service_el8_version }}
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: {{ assisted_image_service_image ~ '@' ~ assisted_image_service_version }}
      - op: replace
        path: /spec/template/spec/containers/0/env/3/value
        value: quay.io/sclorg/postgresql-12-c8s@sha256:663089471e999a4175341ac4d97dcff9cd15ec5f2e96b2309dc8de806106198b
      - op: replace
        path: /spec/template/spec/containers/0/env/4/value
        value: {{ assisted_installer_agent_image ~ '@' ~ assisted_installer_agent_version }}
      - op: replace
        path: /spec/template/spec/containers/0/env/5/value
        value: {{ assisted_installer_controller_image ~ '@' ~ assisted_installer_controller_version }}
      - op: replace
        path: /spec/template/spec/containers/0/env/6/value
        value: {{ assisted_installer_image ~ '@' ~ assisted_installer_version }}

  - target:
      version: v1
      kind: Namespace
    patch: |-
      - op: replace
        path: /metadata/labels/pod-security.kubernetes.io~1enforce
        value: baseline

labels:
  - pairs:
      clusterctl.cluster.x-k8s.io: ""
